@using Data_Transfer_Objects.Model;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@model HashSet<Ferry>
@if (@ViewBag.error != null) {
    <p>@ViewBag.error</p>
}
@if (@Model.Count() > 0) {
    <div>
        <h2>Active Ferries</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Cars</th>
                <th>Passengers</th>
                <th>Total Income</th>
            </tr>
 
        @foreach (Ferry f in @Model)
        {
            <tr>
                <td>@f.Name</td>
                <td>@f.Cars.Count() / @f.CarCapacity</td>
                <td>@f.TotalPassengers / @f.PassengerCapacity</td>
                <td>@f.TotalIncome</td>
            </tr>
        }
        </table>
    </div>

}
else
{
    <h4>Sorry, no active Ferries</h4>
}
    <br />
    <br />

    <div>
        <h4>Select a ferry and an action:</h4>


        @using (Html.BeginForm("OnActionSubmit", "Ferry")) {
            @Html.DropDownList("ferryList", new SelectList(Model.Select(f => new {Value = f.Id, Text = f.Name}), "Value", "Text"))
            <br />
            <input type="submit" value="Add Ferry" name="ferryAction">
            <input type="submit" value="Update Ferry" name="ferryAction">
            <input type="submit" value="Remove Ferry" name="ferryAction">
            <input type="submit" value="Book Passenger" name="ferryAction">
        }
    </div>

