

@*
    View for booking a passenger, either through ID or by adding a new
*@

@model PassengerBooking

<h2>Book existing by id</h2>
@using (Html.BeginForm("BookPassengerByID", "Ferry", FormMethod.Post))
 {
     @Html.ValidationMessageFor(b => b.passengerID)
     @Html.LabelFor(b => b.passengerID)
     @Html.EditorFor(b => b.passengerID)

    @Html.HiddenFor(b => b.ferryID)
     <input type="submit" value="Book" name="findAndBook">
 }
 <h1>Or</h1>
 <h2>Book New</h2>
 @using (Html.BeginForm("BookNewPassenger", "Ferry", FormMethod.Post))
 {
     <div>
         @Html.ValidationMessageFor(b => b.passengerName)
         @Html.LabelFor(b => b.passengerName)
         @Html.EditorFor(b => b.passengerName)
     </div>
     <div>
         @Html.ValidationMessageFor(b => b.passengerGender)
         @Html.LabelFor(b => b.passengerGender)
         @Html.EditorFor(b => b.passengerGender)
     </div>
     
     <input type="submit" value="Book" name="BookNew">

     @Html.HiddenFor(b => b.ferryID)
 }

<br />
<br />
@Html.ActionLink("Back to overview", "Index", "Home")