@using Data_Transfer_Objects.Model;

@*
    A reciept shown after adding or modifying a ferry
*@

@model Ferry

<h1>Ferry has been added</h1>
<br />
<div>
    @Html.LabelFor(f => f.Id)
    @Html.DisplayFor(f => f.Id)
</div>
<div>
    @Html.LabelFor(f => f.Name)
    @Html.DisplayFor(f => f.Name)
</div>
<div>
    @Html.LabelFor(f => f.CarCapacity)
    @Html.DisplayFor(f => f.CarCapacity)
</div>
<div>
    @Html.LabelFor(f => f.PassengerCapacity)
    @Html.DisplayFor(f => f.PassengerCapacity)
</div>
<div>
    @Html.LabelFor(f => f.CarPrice)
    @Html.DisplayFor(f => f.CarPrice)
</div>
<div>
    @Html.LabelFor(f => f.PassengerPrice)
    @Html.DisplayFor(f => f.PassengerPrice)
</div>

<br />
<br />
@Html.ActionLink("Back to overview", "Index", "Home")