@using Data_Transfer_Objects.Model;

@*
    A reciepts shown after booking a passenger
*@

@model Passenger

<h2>Thank you for booking</h2>
<br />
<div>
@Html.LabelFor(p => p.Id)
@Html.DisplayFor(p => p.Id)
</div>
<div>
    @Html.LabelFor(p => p.Name)
    @Html.DisplayFor(p => p.Name)
</div>
<div>
    @Html.LabelFor(p => p.Gender)
    @Html.DisplayFor(p => p.Gender)
</div>

<br />
<br />
@Html.ActionLink("Back to overview", "Index", "Home")